In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [3]:
df=pd.read_csv(r"/Users/pragyan2905/Desktop/churn_ann/Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df=df.drop(['RowNumber','CustomerId','Surname'],axis=1)
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
label_encoder_gender=LabelEncoder()
df['Gender']=label_encoder_gender.fit_transform(df['Gender'])
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(df[['Geography']]).toarray()
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [7]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [8]:
geo_encoded_df=pd.DataFrame(geo_encoder,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [9]:
df=pd.concat([df.drop('Geography',axis=1),geo_encoded_df],axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [10]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [11]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [12]:
X=df.drop('Exited',axis=1)
y=df['Exited']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [13]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [14]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [15]:
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [16]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [17]:
(X_train.shape[1],)

(12,)

In [18]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), 
    Dense(32,activation='relu'), 
    Dense(1,activation='sigmoid') 
]

)

/opt/anaconda3/envs/churn_ann_py311/lib/python3.11/site-packages/keras/src/layers/core/dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [19]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [20]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()
loss

In [21]:
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [22]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [39]:
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [40]:

import datetime


log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

tensorboard_callback = tf.keras.callbacks.TensorBoard(
    log_dir=log_dir,
    histogram_freq=1,
    write_graph=True,
    update_freq='epoch'
)


history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),  
    epochs=100,
    batch_size=32,
    callbacks=[tensorboard_callback],  
    verbose=1
)

Epoch 1/100

250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 539us/step - accuracy: 0.9025 - loss: 0.2068 - val_accuracy: 0.8450 - val_loss: 0.6887
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 481us/step - accuracy: 0.9045 - loss: 0.2060 - val_accuracy: 0.8455 - val_loss: 0.7016
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 480us/step - accuracy: 0.9060 - loss: 0.2030 - val_accuracy: 0.8425 - val_loss: 0.7596
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 478us/step - accuracy: 0.9062 - loss: 0.2062 - val_accuracy: 0.8470 - val_loss: 0.7380
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.9051 - loss: 0.2113 - val_accuracy: 0.8420 - val_loss: 0.6998
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 495us/step - accuracy: 0.9061 - loss: 0.2047 - val_accuracy: 0.8385 - val_loss: 0.7133
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 470us/step - accuracy: 0.9032 - loss: 0.2096 - val_accuracy: 0.8535 - val_loss: 0.7393
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 474us/step - accuracy: 0.9054 - loss: 0.2040 - val_accuracy: 0.8405 - val_loss: 0.7286
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 470us/step - accuracy: 0.9050 - loss: 0.2024 - val_accuracy: 0.8445 - val_loss: 0.7470
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.9055 - loss: 0.2053 - val_accuracy: 0.8415 - val_loss: 0.7534
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.9049 - loss: 0.2076 - val_accuracy: 0.8445 - val_loss: 0.7698
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.9024 - loss: 0.2104 - val_accuracy: 0.8360 - val_loss: 0.7207
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 474us/step - accuracy: 0.9047 - loss: 0.2006 - val_accuracy: 0.8405 - val_loss: 0.7327
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - accuracy: 0.9053 - loss: 0.2053 - val_accuracy: 0.8440 - val_loss: 0.7443
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 468us/step - accuracy: 0.9066 - loss: 0.2008 - val_accuracy: 0.8435 - val_loss: 0.7483
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 482us/step - accuracy: 0.9066 - loss: 0.1993 - val_accuracy: 0.8435 - val_loss: 0.7713
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.9060 - loss: 0.2039 - val_accuracy: 0.8395 - val_loss: 0.7640
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.9031 - loss: 0.2082 - val_accuracy: 0.8410 - val_loss: 0.7272
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 647us/step - accuracy: 0.9026 - loss: 0.2063 - val_accuracy: 0.8400 - val_loss: 0.7727
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.9062 - loss: 0.2049 - val_accuracy: 0.8380 - val_loss: 0.7989
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 494us/step - accuracy: 0.9064 - loss: 0.1957 - val_accuracy: 0.8380 - val_loss: 0.7940
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 480us/step - accuracy: 0.9072 - loss: 0.1960 - val_accuracy: 0.8340 - val_loss: 0.8024
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 487us/step - accuracy: 0.9065 - loss: 0.1977 - val_accuracy: 0.8465 - val_loss: 0.8115
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 482us/step - accuracy: 0.9085 - loss: 0.1963 - val_accuracy: 0.8450 - val_loss: 0.8317
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 489us/step - accuracy: 0.9039 - loss: 0.2056 - val_accuracy: 0.8460 - val_loss: 0.8044
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 487us/step - accuracy: 0.9041 - loss: 0.2034 - val_accuracy: 0.8445 - val_loss: 0.8188
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 482us/step - accuracy: 0.9036 - loss: 0.2040 - val_accuracy: 0.8440 - val_loss: 0.7987
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 475us/step - accuracy: 0.9078 - loss: 0.1914 - val_accuracy: 0.8435 - val_loss: 0.8146
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 485us/step - accuracy: 0.9060 - loss: 0.1969 - val_accuracy: 0.8450 - val_loss: 0.8098
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 475us/step - accuracy: 0.9093 - loss: 0.1938 - val_accuracy: 0.8465 - val_loss: 0.7925
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - accuracy: 0.9084 - loss: 0.1971 - val_accuracy: 0.8435 - val_loss: 0.8568
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 472us/step - accuracy: 0.9049 - loss: 0.2067 - val_accuracy: 0.8450 - val_loss: 0.7638
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 490us/step - accuracy: 0.9061 - loss: 0.2037 - val_accuracy: 0.8380 - val_loss: 0.7944
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 477us/step - accuracy: 0.9086 - loss: 0.1953 - val_accuracy: 0.8420 - val_loss: 0.8037
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - accuracy: 0.9087 - loss: 0.1913 - val_accuracy: 0.8385 - val_loss: 0.7715
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - accuracy: 0.9106 - loss: 0.1845 - val_accuracy: 0.8450 - val_loss: 0.8397
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.9026 - loss: 0.2089 - val_accuracy: 0.8425 - val_loss: 0.7849
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 474us/step - accuracy: 0.9049 - loss: 0.1990 - val_accuracy: 0.8360 - val_loss: 0.7673
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 470us/step - accuracy: 0.9086 - loss: 0.1908 - val_accuracy: 0.8490 - val_loss: 0.7883
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 472us/step - accuracy: 0.9078 - loss: 0.1949 - val_accuracy: 0.8415 - val_loss: 0.7617
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 472us/step - accuracy: 0.9056 - loss: 0.1986 - val_accuracy: 0.8430 - val_loss: 0.7694
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 472us/step - accuracy: 0.9060 - loss: 0.1958 - val_accuracy: 0.8465 - val_loss: 0.8013
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 472us/step - accuracy: 0.9099 - loss: 0.1896 - val_accuracy: 0.8435 - val_loss: 0.8381
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.9061 - loss: 0.1923 - val_accuracy: 0.8450 - val_loss: 0.8019
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 492us/step - accuracy: 0.9078 - loss: 0.1923 - val_accuracy: 0.8400 - val_loss: 0.8397
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.9071 - loss: 0.1938 - val_accuracy: 0.8470 - val_loss: 0.8360
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 470us/step - accuracy: 0.9070 - loss: 0.1931 - val_accuracy: 0.8380 - val_loss: 0.8139
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 470us/step - accuracy: 0.9096 - loss: 0.1860 - val_accuracy: 0.8440 - val_loss: 0.8733
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 470us/step - accuracy: 0.9069 - loss: 0.1951 - val_accuracy: 0.8430 - val_loss: 0.8746
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 469us/step - accuracy: 0.9050 - loss: 0.1909 - val_accuracy: 0.8435 - val_loss: 0.8758
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.9053 - loss: 0.1958 - val_accuracy: 0.8390 - val_loss: 0.8344
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - accuracy: 0.9101 - loss: 0.1844 - val_accuracy: 0.8450 - val_loss: 0.8536
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 474us/step - accuracy: 0.9084 - loss: 0.1897 - val_accuracy: 0.8455 - val_loss: 0.8560
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 475us/step - accuracy: 0.9087 - loss: 0.1886 - val_accuracy: 0.8430 - val_loss: 0.8847
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 474us/step - accuracy: 0.9085 - loss: 0.1896 - val_accuracy: 0.8525 - val_loss: 0.8597
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - accuracy: 0.9081 - loss: 0.1902 - val_accuracy: 0.8415 - val_loss: 0.8752
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 498us/step - accuracy: 0.9090 - loss: 0.1840 - val_accuracy: 0.8485 - val_loss: 0.9343
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.9079 - loss: 0.1947 - val_accuracy: 0.8410 - val_loss: 0.8858
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - accuracy: 0.9071 - loss: 0.1911 - val_accuracy: 0.8405 - val_loss: 0.8927
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 472us/step - accuracy: 0.9065 - loss: 0.1961 - val_accuracy: 0.8430 - val_loss: 0.9257
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 477us/step - accuracy: 0.9093 - loss: 0.1815 - val_accuracy: 0.8450 - val_loss: 0.9342
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.9060 - loss: 0.1910 - val_accuracy: 0.8395 - val_loss: 0.9270
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - accuracy: 0.9091 - loss: 0.1888 - val_accuracy: 0.8405 - val_loss: 0.8678
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - accuracy: 0.9094 - loss: 0.1892 - val_accuracy: 0.8515 - val_loss: 0.8990
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 480us/step - accuracy: 0.9072 - loss: 0.1869 - val_accuracy: 0.8340 - val_loss: 0.9291
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - accuracy: 0.9080 - loss: 0.1910 - val_accuracy: 0.8400 - val_loss: 0.9016
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.9076 - loss: 0.1906 - val_accuracy: 0.8430 - val_loss: 0.9399
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 472us/step - accuracy: 0.9109 - loss: 0.1815 - val_accuracy: 0.8445 - val_loss: 0.9504
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 492us/step - accuracy: 0.9114 - loss: 0.1810 - val_accuracy: 0.8400 - val_loss: 0.8994
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 479us/step - accuracy: 0.9054 - loss: 0.1929 - val_accuracy: 0.8425 - val_loss: 0.9179
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 474us/step - accuracy: 0.9085 - loss: 0.1858 - val_accuracy: 0.8425 - val_loss: 0.9420
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 472us/step - accuracy: 0.9081 - loss: 0.1911 - val_accuracy: 0.8445 - val_loss: 0.9015
Epoch 73/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 475us/step - accuracy: 0.9116 - loss: 0.1760 - val_accuracy: 0.8440 - val_loss: 0.9324
Epoch 74/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 474us/step - accuracy: 0.9087 - loss: 0.1799 - val_accuracy: 0.8435 - val_loss: 0.9549
Epoch 75/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - accuracy: 0.9082 - loss: 0.1874 - val_accuracy: 0.8415 - val_loss: 0.9414
Epoch 76/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 474us/step - accuracy: 0.9086 - loss: 0.1870 - val_accuracy: 0.8450 - val_loss: 0.9820
Epoch 77/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 477us/step - accuracy: 0.9130 - loss: 0.1777 - val_accuracy: 0.8360 - val_loss: 1.0134
Epoch 78/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 472us/step - accuracy: 0.9104 - loss: 0.1815 - val_accuracy: 0.8495 - val_loss: 1.0127
Epoch 79/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 477us/step - accuracy: 0.9076 - loss: 0.1891 - val_accuracy: 0.8425 - val_loss: 0.9214
Epoch 80/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 499us/step - accuracy: 0.9096 - loss: 0.1852 - val_accuracy: 0.8340 - val_loss: 0.9279
Epoch 81/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 478us/step - accuracy: 0.9114 - loss: 0.1824 - val_accuracy: 0.8405 - val_loss: 0.9458
Epoch 82/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 479us/step - accuracy: 0.9096 - loss: 0.1847 - val_accuracy: 0.8405 - val_loss: 0.9678
Epoch 83/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.9078 - loss: 0.1891 - val_accuracy: 0.8465 - val_loss: 0.9478
Epoch 84/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 479us/step - accuracy: 0.9086 - loss: 0.1862 - val_accuracy: 0.8435 - val_loss: 0.9544
Epoch 85/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 480us/step - accuracy: 0.9085 - loss: 0.1877 - val_accuracy: 0.8375 - val_loss: 0.9653
Epoch 86/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 475us/step - accuracy: 0.9075 - loss: 0.1858 - val_accuracy: 0.8450 - val_loss: 0.9646
Epoch 87/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 474us/step - accuracy: 0.9090 - loss: 0.1805 - val_accuracy: 0.8410 - val_loss: 0.9916
Epoch 88/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.9075 - loss: 0.1857 - val_accuracy: 0.8455 - val_loss: 0.9976
Epoch 89/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - accuracy: 0.9050 - loss: 0.1869 - val_accuracy: 0.8370 - val_loss: 0.9835
Epoch 90/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 475us/step - accuracy: 0.9091 - loss: 0.1835 - val_accuracy: 0.8460 - val_loss: 0.9726
Epoch 91/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - accuracy: 0.9093 - loss: 0.1780 - val_accuracy: 0.8430 - val_loss: 1.0253
Epoch 92/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 503us/step - accuracy: 0.9046 - loss: 0.1889 - val_accuracy: 0.8430 - val_loss: 0.9822
Epoch 93/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 663us/step - accuracy: 0.9081 - loss: 0.1957 - val_accuracy: 0.8385 - val_loss: 0.9904
Epoch 94/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 475us/step - accuracy: 0.9076 - loss: 0.1898 - val_accuracy: 0.8425 - val_loss: 0.9576
Epoch 95/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.9107 - loss: 0.1767 - val_accuracy: 0.8385 - val_loss: 0.9712
Epoch 96/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.9103 - loss: 0.1762 - val_accuracy: 0.8440 - val_loss: 0.9817
Epoch 97/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.9114 - loss: 0.1721 - val_accuracy: 0.8460 - val_loss: 1.0111
Epoch 98/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 475us/step - accuracy: 0.9101 - loss: 0.1772 - val_accuracy: 0.8380 - val_loss: 1.0062
Epoch 99/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 478us/step - accuracy: 0.9134 - loss: 0.1732 - val_accuracy: 0.8425 - val_loss: 1.0140
Epoch 100/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 478us/step - accuracy: 0.9084 - loss: 0.1883 - val_accuracy: 0.8455 - val_loss: 1.0765

In [ ]:
# Save your model
model.save('churn_model.h5')
print("Model saved successfully!")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Model saved successfully!

In [42]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 16121), started 0:16:40 ago. (Use '!kill 16121' to kill it.)